* {
  margin: 0;
  padding: 0;
}

.main-container {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
}

.firstside {
  width: 50vw;
  height: 90vh;
  font-family: "Poppins";
  margin-top: 7vh;
  padding-left: 8vw;
}

.secondside {
  width: 50vw;
  height: 100vh;
  background-color: #5138ed;
}

.flash {
  height: 4.25vh;
}

.logintext {
  font-size: 1.5rem;
  font-weight: 600;
  padding-top: 5vh;
}

.loginform {
  width: 80%;
}

.ltagline {
  color: #3c3c3c;
  font-weight: 500;
  font-size: 0.75rem;
}

.btn {
  display: flex;
  align-items: center;
  margin-top: 4vh;
  width: 65%;
  padding: 0.5rem;
  border-radius: 250px;
  border: solid 1px #9e9c9c;
  justify-content: center;
}
.btn img {
  height: 3vh;
  margin-right: 1rem;
}

.btn p {
  font-size: 0.8rem;
  font-weight: 600;
  color: #373636;
}

.lines {
  display: flex;
  align-items: center;
  width: 70%;
  color: #9e9e9e;
  font-weight: 600;
  margin-top: 3vh;
  justify-content: center;
}

.lines hr {
  height: 0;
  width: 5rem;
  border: none;
  height: 1px;
  background-color: #c2c2c2;
}

.lines p {
  font-size: 0.7rem;
  margin: 0rem 1rem;
}

.email {
  margin-top: 2vh;
}

.email p {
  font-weight: 600;
  font-size: 0.85rem;
}

.email span {
  color: #5138ed;
}

.input {
  text-align: left;
  padding-left: 10px;
  border: solid;
  border-color: #c2c2c2;
  border-width: 1px;
  width: 65%;
  border-radius: 25px;
  padding: 0.6rem;
  margin-top: 1vh;
}

.input p {
  font-weight: 600;
  color: #9e9c9c;
}

.fp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 68%;
  margin-top: 2vh;
}

.remem {
  display: flex;
}

.rem {
  font-size: 0.85rem;
}

.remem p {
  margin-left: 0.5rem;
  font-weight: 600;
}
.remem input {
  background: #5138ed;
}

.forgot {
  font-weight: 600;
  color: #5138ed;
  font-size: 0.85rem;
}

.login button {
  background: #5138ed;
  color: white;
  border: none;
  width: 55%;
  height: 6vh;
  margin-top: 4vh;
  border-radius: 15px;
  font-size: 0.95rem;
  font-weight: 600;
}

.login p {
  font-size: 0.85rem;
  margin-top: 4vh;
  font-weight: 600;
  color: #9e9c9c;
}

.login span {
  color: #5138ed;
  margin-left: 1vw;
}

@media only screen and (max-width: 1200px) {
  .loginform {
    width: 100%;
  }

  .login button {
    width: 70%;
  }
}

@media only screen and (max-width: 1000px) {
  .firstside {
    margin-left: 20vw;
    width: 60vw;
  }
  .secondside {
    display: none;
  }
}

@media only screen and (max-width: 750px) {
  .firstside {
    margin-left: 15vw;
    width: 70vw;
  }
}

@media only screen and (max-width: 650px) {
  .firstside {
    margin-left: 12vw;
    width: 80vw;
  }
}

@media only screen and (max-width: 550px) {
  .firstside {
    margin-left: 15vw;
    width: 90vw;
  }

  .login p{
      font-size: 0.75rem;
  }
}

@media only screen and (max-width: 450px) {
  .rem {
    font-size: 0.7rem;
  }

  .forgot {
    font-size: 0.7rem;
  }

  .lines {
    width: 72%;
  }

  .lines hr {
    width: 2.45rem;
  }

  .lines p {
    margin: 0rem 0.5rem;
  }
}

.secondside {
  position: relative;
}

.six,
.five,
.four,
.three,
.two,
.one {
  bottom: 0;
  right: 0;
  position: absolute;
  background: #3521b5;
}

.five {
  bottom: 0;
  right: 0;
}

.six {
  min-width: 42%;
  min-height: 7vh;
}

.five {
  min-width: 35%;
  min-height: 14vh;
}

.four {
  min-width: 28%;
  min-height: 21vh;
}
.three {
  min-width: 21%;
  min-height: 28vh;
}
.two {
  min-width: 14%;
  min-height: 35vh;
}
.one {
  min-width: 7%;
  min-height: 42vh;
}

.tone,
.ttwo,
.tthree {
  top: 0;
  left: 0;
  position: absolute;

  background-color: #3521b5;
}

.tone {
  min-width: 21%;
  min-height: 7vh;
}

.ttwo {
  min-width: 14%;
  min-height: 14vh;
}

.tthree {
  min-width: 7%;
  min-height: 21vh;
}

.circleone,
.circletwo {
  position: absolute;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30%;
}

.header {
  text-align: center;
  color: white;
  font-size: 3rem;
  font-family: "Poppins";
  font-weight: 600;
}
.ctag {
  margin-top: 2vh;
  text-align: center;
  color: white;
  font-family: "Poppins";
  font-size: 1rem;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  width: 1rem;
  height: 0.25rem;
  border: none;
  background-color: white;
  margin: 0.25rem;
  margin-top: 5vh;
  border-radius: 5px;
}

.acircle {
  width: 0.5rem;
  height: 0.5rem;
  border: none;
  background-color:#9b8bff;
  margin: 0.25rem;
  margin-top: 5vh;
  border-radius: 10px;
}
